body{
font-family: cursive;
}
h1{
text-align:center;
font-size:35px;
text-shadow:2px 2px 5px blue;


}
h3{
border: 2px solid black;
background-color:gray;
float: right;
text-align: center;
text-shadow:2px 2px 5px blue;
display:block;
}
.d1{
margin:10px;
padding:10px 5px 10px 5px;
border:2px solid black;
background-color: orange;

}
.d2{
margin:10px;
padding:10px 5px 10px 5px;
border:4px solid pink;
background-color: blue;

}

.d3{

margin:10px;
padding:10px 5px 10px 5px;
border:8px solid yellow;
background-color: green;
}